#formulario{
    margin:50px;
}

#form-mapa{
    margin: auto;
    background:#ECF0F1;
    width: 330px;
    height: 320px;
    border-radius: 5px;
    border: 1px solid #909497;

}

form input[type="text"],
form input[type="number"],
 select{
    
    margin:10px;
    width: 200px;
    height: 25px;
    border: 1px solid #3498DB;
    border-radius: 3px;

}

form input[type="text"],
form input[type="number"],
 select:hover{
   
   border: 1px solid #3498DB;

 }

label{
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form input[type="submit"]{
    background:  #2ecc71;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #229954;
    height: 35px;
    margin-left: 200px;
    
}

.mapboxgl-popup{
  display: block;
  max-width: 250px;
  color:#5D6D7E;
  font-size: 15px;
  border-radius: 2px;
}




#mapa{
    margin: 50px;
    margin-left: 8px;
    height: 500px;
    width: 100%;
}

.marker{
    background-image: url("imagenes/marcador.jpg");
    background-size: cover;
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.error{
  background: red;
}